/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage
/design
Formularios_LITS_01.xlsx
Formularios_LITS.xlsx
REDESIGN.md
DEPENDENCIES.md
TROUBLESHOOTING_LOCK.md
ClienteMaestro.md